<script lang="ts">
    const games = [
        { id: 1, name: 'Games 1'},
        { id: 2, name: 'Games 2'},
        { id: 3, name: 'Games 3'},
    ];
    // Funktion, um ein Spiel auszuwählen und den Manage-Game-Screen anzuzeigen
    function manageGame(gameId: number) {
        window.location.href = `game_master/manage-game?id=${gameId}`;
    }
    function invitePlayers(gameId: number) {
        const currentURL = window.location.href; // Get the current URL

        // Combine the current URL and game ID to create the invitation link
        const invitationLink = `${currentURL}/${gameId}`;

        navigator.clipboard.writeText(invitationLink)
            .then(() => {
                console.log(invitationLink);
            })
            .catch((error) => {
                console.error(error);
            });
    }
</script>

<div class="container">
    <h1 class="title">Select a game</h1>
    <div class="box-container">
        <h1 class="title">Games</h1>
        <hr>
        <div class="game-list">
            <div class="list-container">
                        {#each games as game}
                            <div class="game-item">
                                <span class="game-name">{game.name}</span>
                                    <button on:click={() => manageGame(game.id)}>Manage</button>
                                    <button on:click={() => invitePlayers(game.id)}>Invite</button>
                            </div>
                            <hr class="game-line">
                        {/each}
            </div>
        </div>
    </div>

    <div class="create-game-button">
        <button> <a href="/game_master/create-game">Create a new game</a> </button>
    </div>
</div>

<style>
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: "Open Sans", sans-serif;
    }
    .box-container {
        border: 1px solid #ccc;
        border-radius: 15px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        width: 30%;
        height: 400px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .game-name {
        margin-right: 25px;
    }
    .game-item button {
        background-color: #555555;
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        padding: 10px 15px;
        margin-right: 12px;
    }
    .create-game-button button {
        background-color: #4caf50;
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        padding: 12px 24px;
        font-size: 18px;
    }
    .create-game-button {
        clear: both;
        padding-top: 30px;
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .create-game-button a {
        text-decoration: none;
        color: inherit;
    }
</style>

